.wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: 40px 200px 40px;
  grid-template-rows: minmax(75px, max-content);
  grid-auto-rows: 125;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

.header{
  grid-column: span 12;
  border: 1px solid green;
  background-color: blue;
}

.menu{
  grid-column: span 4;
  border: 1px solid green;
  background-color: lighten(blue, 10%);
}

.content{
  grid-column: span 8;
  border: 1px solid green;
  background-color: lighten(blue, 20%);
}

.footer{
  grid-column: span 12;
  border: 1px solid green;
  background-color: lighten(blue, 30%);
}
